<p>user#show</p>

<h1><%= @user.username %></h1>

<h3><%= @user.weeks_commits %></h3>

<h3><%= @user.current_streak %></h3>

<h3><%= @user.followers %></h3>

<h3><%= @user.following %></h3>

<br><br>

<%= link_to "Rankings", user_index_path %>